Coastal Alert System.json
{
  "name": "Coastal Alert System",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e659acc8-5611-44c3-a911-a9d43706afd5",
              "name": "Latitudes",
              "value": "={{ $json.Latitude }}",
              "type": "number"
            },
            {
              "id": "0c7b9f09-2fe3-4434-a1f5-2bad25b7f21c",
              "name": "Longitudes",
              "value": "={{ $json.Longitude }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        0
      ],
      "id": "800963ea-0416-4697-8002-9ad91f320c79",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.Latitudes }}&longitude={{ $json.Longitudes }}&hourly=temperature_2m,precipitation,rain,showers,snowfall,snow_depth,precipitation_probability,cloud_cover,pressure_msl,surface_pressure,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,wind_speed_10m,wind_speed_80m,wind_speed_120m,wind_speed_180m,wind_direction_10m,wind_direction_80m,wind_direction_120m,wind_direction_180m,wind_gusts_10m,temperature_80m,temperature_120m,temperature_180m,soil_temperature_0cm,soil_temperature_6cm,soil_temperature_18cm,soil_temperature_54cm,soil_moisture_0_to_1cm,soil_moisture_1_to_3cm,soil_moisture_3_to_9cm,soil_moisture_9_to_27cm,cape,lifted_index,convective_inhibition,freezing_level_height,boundary_layer_height&minutely_15=precipitation",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        0
      ],
      "id": "c1ff0034-b931-4489-872f-9d61f8c5ff39",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst hourly = data.hourly;\n\n// 1) Build hourly records dynamically\nconst variables = Object.keys(hourly).filter(k => k !== \"time\");\nconst hourlyRecords = hourly.time.map((t, i) => {\n  const row = { time: t };\n  for (const v of variables) {\n    row[v] = hourly[v][i];\n  }\n  return row;\n});\n\n// 2) Daily aggregates (auto-mean for now)\nconst dailyMap = {};\nhourlyRecords.forEach(rec => {\n  const date = rec.time.split(\"T\")[0];\n  if (!dailyMap[date]) {\n    dailyMap[date] = { count: 0, sums: {}, maxes: {} };\n  }\n  dailyMap[date].count++;\n  for (const v of variables) {\n    if (typeof rec[v] === \"number\") {\n      dailyMap[date].sums[v] = (dailyMap[date].sums[v] || 0) + rec[v];\n      dailyMap[date].maxes[v] = Math.max(dailyMap[date].maxes[v] || -Infinity, rec[v]);\n    }\n  }\n});\n\n// 3) Convert to daily summary (mean for most, max for wind speeds/precip prob)\nconst dailySummary = Object.entries(dailyMap).map(([date, v]) => {\n  const obj = { date };\n  for (const variable of variables) {\n    if (variable.includes(\"precipitation\")) {\n      obj[variable] = v.sums[variable] || 0; // sum precip\n    } else if (variable.includes(\"wind\") || variable.includes(\"gust\")) {\n      obj[variable] = v.maxes[variable] || 0; // max wind/gust\n    } else {\n      obj[variable] = (v.sums[variable] || 0) / v.count; // mean\n    }\n  }\n  return obj;\n});\n\n// Return clarified data\nreturn [\n//  { json: { hourly_data: hourlyRecords } },\n  { json: { daily_summary: dailySummary } }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        0
      ],
      "id": "853d9f7d-f625-414e-8b1f-e603b231987f",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "You are a disaster risk prediction assistant. \nYou will be given weather and environmental data (temperature, soil temperature, soil moisture, CAPE, lifted index, freezing level, boundary layer height, etc.) for the past 7 days and the forecasted next 7 days.\nYour task is to analyze patterns and assess the risk of natural hazards such as:\n-Rise in water level\n-Algal blooms\n- Cyclone / severe storm\n- Flood\n- Heatwave\n- Drought\n- Landslide \nProvide your answer in JSON format with fields:\n{\n  \"cyclone_risk\": \"Low | Medium | High\",\n  \"flood_risk\": \"Low | Medium | High\",\n  \"heatwave_risk\": \"Low | Medium | High\",\n  \"drought_risk\": \"Low | Medium | High\",\n  \"landslide_risk\": \"Low | Medium | High\"\n}\nGive the data as given above format does not add anything or give less ",
              "role": "model"
            },
            {
              "content": "=Here is the clarified weather dataset for analysis:\n\nPAST 7 DAYS:\n{{ $json.daily_summary[0] }}\n{{ $json.daily_summary[1] }}\n{{ $json.daily_summary[2] }}\n{{ $json.daily_summary[3] }}\n{{ $json.daily_summary[4] }}\n{{ $json.daily_summary[5] }}\n{{ $json.daily_summary[6] }}\n\nFORECAST NEXT 7 DAYS:\n{{ $json.daily_summary[7] }}\n{{ $json.daily_summary[8] }}\n{{ $json.daily_summary[9] }}\n{{ $json.daily_summary[10] }}\n{{ $json.daily_summary[11] }}\n{{ $json.daily_summary[12] }}\n{{ $json.daily_summary[13] }}\n\nAnalyze this dataset and return disaster risk predictions as instructed.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1888,
        -112
      ],
      "id": "fb29f16e-16a1-4a77-9e21-97c380737cfe",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "qVA3omrBxsiFHzN5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "You are a disaster risk prediction assistant. \nYou will be given weather and environmental data (temperature, soil temperature, soil moisture, CAPE, lifted index, freezing level, boundary layer height, etc.) for the past 7 days and the forecasted next 7 days. \nYour task is to analyze patterns and assess the risk of natural hazards such as:\n-Rise in water level\n-Algal blooms\n- Cyclone / severe storm\n- Flood\n- Heatwave\n- Drought\n- Landslide \nProvide a detailed report of these calamities if chances are high or low explaining in detail",
              "role": "model"
            },
            {
              "content": "=Here is the clarified weather dataset for analysis:\n\nPAST 7 DAYS:\n{{ $json.daily_summary[0] }}\n{{ $json.daily_summary[1] }}\n{{ $json.daily_summary[2] }}\n{{ $json.daily_summary[3] }}\n{{ $json.daily_summary[4] }}\n{{ $json.daily_summary[5] }}\n{{ $json.daily_summary[6] }}\n\nFORECAST NEXT 7 DAYS:\n{{ $json.daily_summary[7] }}\n{{ $json.daily_summary[8] }}\n{{ $json.daily_summary[9] }}\n{{ $json.daily_summary[10] }}\n{{ $json.daily_summary[11] }}\n{{ $json.daily_summary[12] }}\n{{ $json.daily_summary[13] }}\n\nAnalyze this dataset and return disaster risk predictions as instructed."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1888,
        128
      ],
      "id": "751f3bbb-65dc-47a9-9bd5-f970de02b20f",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "qVA3omrBxsiFHzN5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8258768678",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2480,
        -112
      ],
      "id": "a6502e4a-61d5-4699-9b32-e1847497e6ac",
      "name": "Send a text message",
      "webhookId": "7f04adb2-d80c-44c5-b2a0-3fc1c6b8baf1",
      "credentials": {
        "telegramApi": {
          "id": "5H6in1p2FsDpgElv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "4c407a1f-1587-4783-85b7-aa29d59c5108",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gpuPCdu1mGKVDFHYBr4ojLxJSvPbBvaK8WJWVgLSXFE",
          "mode": "list",
          "cachedResultName": "Coastal ALert System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gpuPCdu1mGKVDFHYBr4ojLxJSvPbBvaK8WJWVgLSXFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gpuPCdu1mGKVDFHYBr4ojLxJSvPbBvaK8WJWVgLSXFE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "9c1cfb73-2109-4955-bcb7-fcc55f0db192",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7kDxh9PZzqUCTurK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1q94vsuRZsuIXyatG97JhYB9fymRIZ6yFd-SdTJP1yt8",
          "mode": "list",
          "cachedResultName": "GIVE THE SAME ABOVE THING WITHOUT DEGREE SYMBOL A...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q94vsuRZsuIXyatG97JhYB9fymRIZ6yFd-SdTJP1yt8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615863930,
          "mode": "list",
          "cachedResultName": "GIVE THE SAME ABOVE THING WITHOUT DEGREE SYMBOL A...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q94vsuRZsuIXyatG97JhYB9fymRIZ6yFd-SdTJP1yt8/edit#gid=615863930"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Small report"
          ],
          "schema": [
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place",
              "displayName": "Place",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Small report",
              "displayName": "Small report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Long report",
              "displayName": "Long report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        -112
      ],
      "id": "78ccdfa2-550a-4ae4-a393-42e67ab64cf9",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7kDxh9PZzqUCTurK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1q94vsuRZsuIXyatG97JhYB9fymRIZ6yFd-SdTJP1yt8",
          "mode": "list",
          "cachedResultName": "GIVE THE SAME ABOVE THING WITHOUT DEGREE SYMBOL A...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q94vsuRZsuIXyatG97JhYB9fymRIZ6yFd-SdTJP1yt8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615863930,
          "mode": "list",
          "cachedResultName": "GIVE THE SAME ABOVE THING WITHOUT DEGREE SYMBOL A...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q94vsuRZsuIXyatG97JhYB9fymRIZ6yFd-SdTJP1yt8/edit#gid=615863930"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Long report"
          ],
          "schema": [
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place",
              "displayName": "Place",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Small report",
              "displayName": "Small report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Long report",
              "displayName": "Long report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        128
      ],
      "id": "b5456d27-22de-41f5-93c6-7ba35204dbfc",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7kDxh9PZzqUCTurK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d39ba984-fbe3-44de-ae35-699e98606e34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e68818f3bbfc86da018f6e5ebe5a17db43a43bc0161af2dd1c9e48e68789a184"
  },
  "id": "GdwdHbOJ9jZjOnfR",
  "tags": []
}
